
<h1 class="display-4 py-3 mb-3 border-bottom">SwiftType</h1>

<p>Introducing SwiftType: a minimalist typing game designed for speed and precision. Test your typing skills in a clean and distraction-free environment.</p>

<p>Enjoy a seamless and intuitive interface that keeps you focused on the task at hand. Compete against players worldwide, track your progress, and aim for high scores on the leaderboard.</p>

<p>How to play:</p>
<ul>
    <li>Don't worry about case. Focus on your letters and spaces</li>
    <li>Once you finish typing, the game will automatically end.</li>
    <li>Reload the page (^R) to try again.</li>
</ul>

<a href="typing">Play now</a>.